@using ConFin.Common.Web.Extension
@model ConFin.Web.ViewModel.Lancamento.LancamentoViewModel
@{ Layout = null;}

<style>
    .lanc-pago-recebido {
        background-color: limegreen !important;
    }
</style>


<div id="modalLancamentoCadastroEdicao" class="modal" style="max-height: 80%!important;">

    <div class="modal-content">
        <div class="section" style="text-align: center">
            <h1 style="color: gray; font-size: 20pt; margin-top: -5px;" class="caption">@(ViewBag.IndicadorCadastro == "S" ? "Cadastrar" : "Editar") Lançamentos</h1>
            <div class="divider" style="margin-top: -10px;"></div>
        </div>
        <div class="row">
            <form id="formLancamentoCadastroEdicao" class="col s12">
                <input type="hidden" id="hiddenIndicadorCadastroLancamento" value="@ViewBag.IndicadorCadastro" />
                <input type="hidden" name="Id" value="@Model.Id" />
                <input type="hidden" id="hiddenIndicadorPagoRecebido" name="IndicadorPagoRecebido" value="@Model.IndicadorPagamentoReceb" />
                <input type="hidden" id="hiddenIdCompromisso" name="IdCompromisso" value="@Model.IdCompromisso" />

                <div class="row">
                    <div class="col s6">
                        <p style="float: left;">
                            <input class="with-gap" name="IndicadorReceitaDespesa" type="radio" id="indReceitaDespesa_R" value="R"
                                   @Model.ShouldCheckReceitaDespesa("R") />
                            <label style="margin-right: 25px" for="indReceitaDespesa_R">Receita</label>

                            <input class="with-gap" name="IndicadorReceitaDespesa" type="radio" id="indReceitaDespesa_D" value="D"
                                   @Model.ShouldCheckReceitaDespesa("D") />
                            <label for="indReceitaDespesa_D">Despesa</label>
                        </p>
                    </div>
                    <div class="col s6">
                        <label>Conta</label>
                        <select class="browser-default" name="IdConta" id="comboConta" onchange="filtraCategoria(this)">
                            <option value="" disabled selected>Selecione</option>
                            @foreach (var conta in Model.ContasFinanceira)
                            {
                                <option @(Model.IdConta == conta.Id ? "selected" : string.Empty) value="@conta.Id">@conta.Nome</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row" style="margin-top: -18px;">
                    <div class="input-field col s6">
                        <input id="txtDescricaoLancamento" type="text" class="validate" maxlength="50" name="Descricao" value="@Model.Descricao">
                        <label for="txtDescricaoLancamento">Descrição</label>
                    </div>
                    <div class="col s6">
                        <label>Categoria</label>
                        <select class="browser-default" name="IdCategoria" id="comboCategorias">
                            <option data-selecione value="" disabled selected>Selecione</option>
                            @*@foreach (var categoria in Model.Categorias)
                            {
                                <option @(Model.IdCategoria == categoria.Id ? "selected" : string.Empty) value="@categoria.Id">@categoria.Nome</option>
                            }*@
                        </select>
                    </div>
                </div>
                <div class="row" style="margin-top: -18px;">
                    <div class="input-field col s3">
                        <input class="money" id="txtValorLancamento" type="text" maxlength="14" name="Valor" value="@Model.Valor.ToMoney()">
                        <label for="txtValorLancamento">Valor</label>
                    </div>
                    <div class="input-field col s3">
                        <input id="txtDataLancamento" type="text" class="date" name="Data" value="@Model.DataLancamento">
                        <label for="txtDataLancamento" class="active">Data</label>
                    </div>
                    <div class="input-field col s6" style="text-align: center; margin-top: 20px">
                        <span id="spanMensagemIndicadorPgto">Já foi @(Model.IndicadorReceitaDespesa == "R" ? "recebido" : "pago")?</span>
                        <a href="javascript:void(0)" id="btnIndicadorPago" style="background-color: gray"
                           class="btn-floating @(Model.IndicadorPagoRecebido == "S" ? "lanc-pago-recebido" : string.Empty)">
                            <i class="material-icons">thumb_up</i>
                        </a>
                    </div>
                </div>
                @if (!Model.IdCompromisso.HasValue)
                {
                    <div id="divRepetirLancamento" class="row" style="margin-top: -10px;">
                        <div id="divCheckRepetir" class="col s6" style="display: none">
                            <p>
                                <input type="checkbox" name="IndicadorFixoParcelado" id="checkLancamentoParcelado" value="P"/>
                                <label style="margin-right: 93px" for="checkLancamentoParcelado">Parcelado</label>
                                <input type="checkbox" name="IndicadorFixoParcelado" id="checkLancamentoFixo" value="F"/>
                                <label for="checkLancamentoFixo">Fixo</label>
                            </p>
                        </div>
                        <div id="divQtdParcRepetir" class="input-field col s3" style="margin-top: -10px; display: none">
                            <input id="txtQtdParcelas" type="number" max="240" maxlength="3" class="validate" name="TotalParcelasOriginal">
                            <label for="txtQtdParcelas">Quantidade</label>
                        </div>
                        <div id="divComboPeriodoRepetir" class="col s3" style="display: none">
                            <select class="browser-default" name="IdPeriodo" id="comboPeriodo">
                                <option value="" disabled selected>Selecione periodo</option>
                            </select>
                        </div>
                    </div>
                }
                else
                {
                    <div id="divRadiosCompromisso" class="row" style="background-color: lavender; margin-top: -15px">
                        <div class="col s8">
                            <p style="float: left;">
                                <input class="with-gap" name="IndicadorAcaoCompromisso" type="radio" id="indAcaoCompromisso_S" value="S" checked/>
                                <label style="margin-right: 25px" for="indAcaoCompromisso_S">Alterar somente este lançamento</label>
                                
                                <input class="with-gap" name="IndicadorAcaoCompromisso" type="radio" id="indAcaoCompromisso_P" value="P"/>
                                <label for="indAcaoCompromisso_P">Alterar este e os próximos lançamentos vínculados</label>

                                <input class="with-gap" name="IndicadorAcaoCompromisso" type="radio" id="indAcaoCompromisso_T" value="T"/>
                                <label style="margin-bottom: 8px" for="indAcaoCompromisso_T">Alterar todos lançamentos vínculados</label>
                            </p>
                        </div>
                    </div>
                }

            </form>
        </div>
    </div>
    <div class="modal-footer" style="margin-top: -40px;">
        @if (!Model.IdCompromisso.HasValue)
        {
            <a href="javascript:void(0)" id="btnShowDivsRepetirLancamento" onclick="showDivsRepetirLancamento()" style="margin-left: 20px;"
               class="btn-floating tooltipped left" data-position="top" data-delay="25"
               data-tooltip="Repetir (Fixo/Parcelado)">
                <i class="material-icons">repeat</i>
            </a>
        }
        
        <a href="javascript:void(0)" onclick="cadastrarEditarLancamento()" style="color: green" class="modal-action waves-effect waves-green btn-flat">Confirmar</a>
        <a href="javascript:void(0)" style="color: red" class="modal-action modal-close waves-effect waves-red btn-flat">Cancelar</a>
    </div>
</div>


<script>

    $("#txtQtdParcelas").mask("000");
    $('#comboConta, #comboCategorias').material_select();
    $('#btnShowDivsRepetirLancamento').tooltip({ delay: 25 });

    var urlPostPutLancamento = $("#hiddenIndicadorCadastroLancamento").val() == "S" ? urlsLancamento.Post : urlsLancamento.Put;
    var urlCategorias = '@Url.Action("GetCategorias", "LancamentoCategoria")';

    function filtraCategoria(btn, idCategoria) {

        var idContaSelecionada = $(btn).val();
        var idCategoriaAnterior = $("#comboCategorias").val();

        $.get(urlCategorias, {
            idConta: idContaSelecionada
        }).success(function (json) {
            $("#comboCategorias > option:not(option[data-selecione])").remove();

            json.map(function(categoria) {
                $("#comboCategorias").append("<option value='" + categoria.Id + "'>" + categoria.Nome + "</option>");
            });

            if (idCategoria != null)
                $("#comboCategorias").val(idCategoria);
            else if (json.filter(function(item) { return item.Id == idCategoriaAnterior }).length) 
                $("#comboCategorias").val(idCategoriaAnterior);
            else
                $("#comboCategorias").val("");
            
        });
    };

    if (!!$("#comboConta").val()) {
        filtraCategoria(document.getElementById("comboConta"), '@Model.IdCategoria');
    }



    $("#btnIndicadorPago").click(function () {
        $(this).toggleClass("lanc-pago-recebido");
        $("#hiddenIndicadorPagoRecebido").val($(this).hasClass("lanc-pago-recebido") ? "S" : "N");
    });

    $("input[name='IndicadorFixoParcelado']").click(function () {

        if ($(this).val() == "F")
            $("#checkLancamentoParcelado").removeAttr("checked");
        else
            $("#checkLancamentoFixo").removeAttr("checked");

        if (!$("input[name='IndicadorFixoParcelado']:checked").length) {
            $("#divQtdParcRepetir, #divQtdParcRepetir, #divComboPeriodoRepetir").fadeOut();
            return;
        }

        if ($(this).val() == "F")
            $("#divQtdParcRepetir").fadeOut();
        else
            $("#divQtdParcRepetir").fadeIn();

        $("#divComboPeriodoRepetir").fadeIn();

    });

    $("input:radio[name=IndicadorReceitaDespesa]").change(function () {
        $("#spanMensagemIndicadorPgto").text("Já foi " + ($(this).val() == "R" ? "recebido" : "pago") + "?");
    });

    function showDivsRepetirLancamento() {

        if ($("#divCheckRepetir").is(":visible"))
            return false;

        $.get(urlsLancamento.GetComboPeriodos).success(function (json) {

            json.map(function (periodo) {
                $("#comboPeriodo").append("<option value='" + periodo.Id + "'>" + periodo.Descricao + "</option>");
            });

            $("#comboPeriodo").material_select();
            $("#divRepetirLancamento, #divCheckRepetir").fadeIn();

        });

    }

    function cadastrarEditarLancamento() {
        $('.toast').remove();

        $.toast({ condition: !$("#comboConta").val(), message: "Favor preencher o campo Conta" });
        $.toast({ condition: !$("#comboCategorias").val(), message: "Favor preencher o campo Categoria" });
        isFieldEmpty($("#txtDescricaoLancamento, #txtValorLancamento, #txtDataLancamento"));
        $.toast({ condition: !!$("#txtDataLancamento").val() && !$("#txtDataLancamento").val().isValidDate(), message: "Data de lançamento inválida" });
        $.toast({ condition: $("#checkLancamentoParcelado").is(":checked") && !$("#txtQtdParcelas").val(), message: "Favor preencher a Quantidade de parcelas" });
        $.toast({ condition: !!$("#txtQtdParcelas").val() && (+$("#txtQtdParcelas").val() > 240), message: "O limite máximo de parcelas é de 240" });
        $.toast({ condition: $("#checkLancamentoParcelado").is(":checked") && !$("#txtQtdParcelas").val(), message: "Favor preencher a Quantidade de parcelas" });

        if ($('.toast').length)
            return false;

        $.post(urlPostPutLancamento, $("#formLancamentoCadastroEdicao").toObject()).success(function (message) {
            $("#modalLancamentoCadastroEdicao").modal("close");
            $.toast({ message: message, type: "success" });
            $("#btnHiddenAtualizaTotalNotificacoes").trigger("click");
            atualizarLancamentos(0);
        });
    }

</script>
