@using ConFin.Common.Web.Extension
@model ConFin.Web.ViewModel.Lancamento.LancamentoViewModel
@{ Layout = null;}

<style>
    .lanc-pago-recebido {
        background-color: limegreen !important;
    }
</style>


<div id="modalLancamentoCadastroEdicao" class="modal" style="max-height: 80%!important;">

    <div class="modal-content">
        <div class="section" style="text-align: center">
            <h1 style="color: gray; font-size: 20pt; margin-top: -5px;" class="caption">@(ViewBag.IndicadorCadastro == "S" ? "Cadastrar" : "Editar") Lançamentos</h1>
            <div class="divider" style="margin-top: -10px;"></div>
        </div>
        <div class="row">
            <form id="formLancamentoCadastroEdicao" class="col s12">
                <input type="hidden" id="hiddenIndicadorCadastroLancamento" value="@ViewBag.IndicadorCadastro" />
                <input type="hidden" name="Id" value="@Model.Id" />
                <input type="hidden" id="hiddenIndicadorPagoRecebido" name="IndicadorPagoRecebido" value="@Model.IndicadorPagamentoReceb" />

                <div class="row">
                    <div class="col s6">
                        <p style="float: left;">
                            <input class="with-gap" name="IndicadorReceitaDespesa" type="radio" id="indReceitaDespesa_R" value="R"
                                   @Model.ShouldCheckReceitaDespesa("R") />
                            <label style="margin-right: 25px" for="indReceitaDespesa_R">Receita</label>

                            <input class="with-gap" name="IndicadorReceitaDespesa" type="radio" id="indReceitaDespesa_D" value="D"
                                   @Model.ShouldCheckReceitaDespesa("D") />
                            <label for="indReceitaDespesa_D">Despesa</label>
                        </p>
                    </div>
                    <div class="input-field col s6">
                        <select class="multiple" name="IdConta" id="comboConta">
                            <option value="" disabled selected>Selecione</option>
                            @foreach (var conta in Model.ContasFinanceira)
                            {
                                <option @(Model.IdConta == conta.Id ? "selected" : string.Empty) value="@conta.Id">@conta.Nome</option>
                            }
                        </select>
                        <label>Conta</label>
                    </div>
                </div>
                <div class="row" style="margin-top: -18px;">
                    <div class="input-field col s6">
                        <input id="txtDescricaoLancamento" type="text" class="validate" maxlength="50" name="Descricao" value="@Model.Descricao">
                        <label for="txtDescricaoLancamento">Descrição</label>
                    </div>
                    <div class="input-field col s6">
                        <select class="multiple" name="IdCategoria" id="comboCategorias">
                            <option value="" disabled selected>Selecione</option>
                            @foreach (var categoria in Model.Categorias)
                            {
                                <option @(Model.IdCategoria == categoria.Id ? "selected" : string.Empty) value="@categoria.Id">@categoria.Nome</option>
                            }
                        </select>
                        <label>Categoria</label>
                    </div>
                </div>
                <div class="row" style="margin-top: -18px;">
                    <div class="input-field col s3">
                        <input class="money" id="txtValorLancamento" type="text" maxlength="14" name="Valor" value="@Model.Valor.ToMoney()">
                        <label for="txtValorLancamento">Valor</label>
                    </div>
                    <div class="input-field col s3">
                        <input id="txtDataLancamento" type="text" class="date" name="Data" value="@Model.DataLancamento">
                        <label for="txtDataLancamento" class="active">Data</label>
                    </div>
                    <div class="input-field col s6" style="text-align: center; margin-top: 20px">
                        <span id="spanMensagemIndicadorPgto">Já foi @(Model.IndicadorReceitaDespesa == "R" ? "recebido" : "pago")?</span>
                        <a href="javascript:void(0)" id="btnIndicadorPago" style="background-color: gray"
                           class="btn-floating @(Model.IndicadorPagoRecebido == "S" ? "lanc-pago-recebido" : string.Empty)">
                            <i class="material-icons">thumb_up</i>
                        </a>
                    </div>
                </div>
                <div id="divRepetirLancamento" class="row" style="margin-top: -10px;">
                    <div id="divCheckRepetir" class="col s6" style="display: none">
                        <p>
                            <input type="checkbox" name="TipoCompromisso" id="checkLancamentoParcelado" value="2" />
                            <label style="margin-right: 93px" for="checkLancamentoParcelado">Parcelado</label>
                            <input type="checkbox" name="TipoCompromisso" id="checkLancamentoFixo" value="1" />
                            <label for="checkLancamentoFixo">Fixo</label>
                        </p>
                    </div>
                    <div id="divQtdParcRepetir" class="input-field col s3" style="margin-top: -10px; display: none">
                        <input id="txtQtdParcelas" type="text" class="validate" name="QtdParcelas">
                        <label for="txtQtdParcelas">Quantidade</label>
                    </div>
                    <div id="divComboPeriodoRepetir" class="col s3" style="display: none">
                        <select class="browser-default" name="IdPeriodo" id="comboPeriodo">
                            <option value="" disabled selected>Selecione periodo</option>
                            <option value="1">Anual</option>
                            <option value="2">Semestral</option>
                            <option value="3">Trimestral</option>
                            <option value="4">Bimestral</option>
                            <option value="5">Mensal</option>
                            <option value="6">Semanal</option>
                            <option value="7">Diario</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer" style="margin-top: -40px;">
        <a href="javascript:void(0)" id="btnShowDivsRepetirLancamento" onclick="showDivsRepetirLancamento()" style="margin-left: 20px;"
           class="btn-floating tooltipped left" data-position="top" data-delay="25"
           data-tooltip="Repetir (Fixo/Parcelado)">
            <i class="material-icons">repeat</i>
        </a>
        <a href="javascript:void(0)" onclick="cadastrarEditarLancamento()" style="color: green" class="modal-action waves-effect waves-green btn-flat">Confirmar</a>
        <a href="javascript:void(0)" style="color: red" class="modal-action modal-close waves-effect waves-red btn-flat">Cancelar</a>
    </div>
</div>


<script>
    $('#comboConta, #comboCategorias, #comboPeriodo').material_select();
    $('#btnShowDivsRepetirLancamento').tooltip({ delay: 25 });

    var urlPostPutLancamento = $("#hiddenIndicadorCadastroLancamento").val() == "S" ? urlsLancamento.Post : urlsLancamento.Put;

    $("#btnIndicadorPago").click(function () {
        $(this).toggleClass("lanc-pago-recebido");
        $("#hiddenIndicadorPagoRecebido").val($(this).hasClass("lanc-pago-recebido") ? "S" : "N");
    });

    $("input[name='TipoCompromisso']").click(function () {

        

        if ($(this).val() == 1)
            $("#checkLancamentoParcelado").removeAttr("checked");
        else 
            $("#checkLancamentoFixo").removeAttr("checked");

        if (!$("input[name='TipoCompromisso']:checked").length) {
            $("#divQtdParcRepetir, #divQtdParcRepetir, #divComboPeriodoRepetir").fadeOut();
            return;
        }

        if ($(this).val() == 1)
            $("#divQtdParcRepetir").fadeOut();
        else
            $("#divQtdParcRepetir").fadeIn();

        $("#divComboPeriodoRepetir").fadeIn();

    });

    $("input:radio[name=IndicadorReceitaDespesa]").change(function () {
        $("#spanMensagemIndicadorPgto").text("Já foi " + ($(this).val() == "R" ? "recebido" : "pago") + "?");
    });


    function showDivsRepetirLancamento() {
        $("#divRepetirLancamento, #divCheckRepetir").fadeIn();
    }

    function cadastrarEditarLancamento() {
        $('.toast').remove();
        

        $.toast({ condition: !$("#comboConta").val(), message: "Favor preencher o campo Conta" });
        $.toast({ condition: !$("#comboCategorias").val(), message: "Favor preencher o campo Categoria" });
        isFieldEmpty($("#txtDescricaoLancamento, #txtValorLancamento, #txtDataLancamento"));
        $.toast({ condition: !!$("#txtDataLancamento").val() && !$("#txtDataLancamento").val().isValidDate(), message: "Data de lançamento inválida" });

        if ($('.toast').length)
            return false;


        $.post(urlPostPutLancamento, $("#formLancamentoCadastroEdicao").toObject()).success(function (message) {
            $("#modalLancamentoCadastroEdicao").modal("close");
            $.toast({ message: message, type: "success" });
            atualizarLancamentos();
        });
    }

</script>
