@model ConFin.Web.ViewModel.Lancamento.LancamentoResumoViewModel
@{ Layout = null;}

<style>
    .indicador-green {
        background-color: green !important;
    }

    .pago-recebido {
        background-color: green !important;
    }

    .vencido:not(.pago-recebido) {
        background-color: #ff0000 !important;
    }

    .vincendo:not(.pago-recebido) {
        background-color: gray !important;
    }

</style>

<div class="container">
    <div class="section" style="text-align: center">
        <h1 style="color: gray; font-size: 20pt;" class="caption">Lançamentos</h1>
        <div class="divider"></div>
    </div>
    <table class="striped">
        <thead>
            <tr>
                <th></th>
                <th>Data</th>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Conta</th>
                <th>Categoria</th>
                <th>Pago</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Lancamentos.Any())
            {
                foreach (var lancamento in Model.Lancamentos)
                {
                    <tr data-valor="@lancamento.Valor">
                        <td>
                            @if (lancamento.IsReceita)
                        {
                        <a style="color: #008000" class="tooltipped" data-position="top" data-delay="25" data-tooltip="Receita">
                            <i class="material-icons">tag_faces</i>
                        </a>
                        }
                        else
                        {
                        <a style="color: #ff0000" class="tooltipped" data-position="top" data-delay="25" data-tooltip="Despesa">
                            <i class="material-icons">mood_bad</i>
                        </a>

                        }
                        </td>
                        <td>@lancamento.DataLancamento</td>
                        <td>@lancamento.Descricao</td>
                        <td>@lancamento.ValorLancamento</td>
                        <td>@lancamento.NomeConta</td>
                        <td class="center-align">
                            <a style="cursor: default" class="tooltipped" data-position="top" data-delay="25" data-tooltip="@lancamento.NomeCategoria">
                                <i style="color: @lancamento.CorCategoria" class="material-icons">bookmark</i>
                            </a>
                        </td>
                        <td>
                            @if (lancamento.IsPagoRecebido)
                        {
                        <a href="javascript:void(0)" onclick="alteraStatusLancamento(this, @lancamento.Id)"
                           class="btn-floating tooltipped pago-recebido
                                   @(lancamento.DataLancamentoMenorHoje ? "vencido" : "")
                                   @(lancamento.IsReceita ? "receita" : "despesa")"
                           data-position="top" data-delay="25" data-tooltip="@(lancamento.IsReceita ? "Recebido" : "Pago")">
                            <i class="material-icons">thumb_up</i>
                        </a>
                        }
                        else if (lancamento.IsVencido)
                        {
                        <a href="javascript:void(0)" onclick="alteraStatusLancamento(this, @lancamento.Id)"
                           class="btn-floating tooltipped vencido @(lancamento.IsReceita ? "receita" : "despesa")"
                           data-position="top" data-delay="25" data-tooltip="Atrasado">
                            <i class="material-icons">thumb_down</i>
                        </a>
                        }
                        else
                        {
                        <a href="javascript:void(0)" onclick="alteraStatusLancamento(this, @lancamento.Id)"
                           class="btn-floating tooltipped vincendo @(lancamento.IsReceita ? "receita" : "despesa")"
                           data-position="top" data-delay="25" data-tooltip="Não @(lancamento.IsReceita ? "Recebido" : "Pago")">
                            <i class="material-icons">thumb_up</i>
                        </a>
                        }
                        </td>
                        <td class="center-align">
                            <a style="color: crimson" href="javascript:void(0)" onclick="deleteLancamento(@lancamento.Id)"
                               class="tooltipped" data-position="top" data-delay="25" data-tooltip="Excluir">
                                <i class="material-icons">delete_forever</i>
                            </a>
                            <a style="color: dimgray" href="javascript:void(0)" onclick="showModalCadastroEdicaoLancamento(@lancamento.Id)"
                               class="tooltipped" data-position="top" data-delay="25" data-tooltip="Editar">
                                <i class="material-icons">mode_edit</i>
                            </a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr><td style="text-align: center" colspan="8">Nenhum registro encontrado.</td></tr>
            }

        </tbody>
        <tfoot style="border: 1px solid gray">
            <tr style="border: 1px solid gray">
                <th style="width: 30%" class="center" colspan="2">Receita</th>
                <th></th>
                <th style="width: 30%" class="center" colspan="2">Despesa</th>
                <th></th>
                <th style="width: 30%" class="center" colspan="2">Saldo</th>
            </tr>
            <tr style="border: 1px solid gray">
                <th style="border: 1px solid gray" class="center">Prevista</th>
                <th style="border: 1px solid gray" class="center">Realizada</th>
                <th></th>
                <th style="border: 1px solid gray" class="center">Prevista</th>
                <th style="border: 1px solid gray" class="center">Realizada</th>
                <th></th>
                <th style="border: 1px solid gray" class="center">Previsto</th>
                <th style="border: 1px solid gray" class="center">Atual</th>
            </tr>
            <tr>
                <td id="tdReceitaPrev" style="border: 1px solid gray" class="center">@Model.Resumo.TotReceitasPrevista</td>
                <td id="tdReceitaRealiz" style="border: 1px solid gray; color:#1e90ff" class="center">@Model.Resumo.TotReceitasRealizada</td>
                <td></td>
                <td id="tdDespesaPrev" style="border: 1px solid gray" class="center">@Model.Resumo.TotDespesasPrevista</td>
                <td id="tdDespesaRealiz" style="border: 1px solid gray; color:#1e90ff" class="center">@Model.Resumo.TotDespesasRealizada</td>
                <td></td>
                <td id="tdSaldoPrev" style="border: 1px solid gray" class="center">@Model.Resumo.TotSaldoPrevisto</td>
                <td id="tdSaldoAtual" style="border: 1px solid gray; color:@(Model.Resumo.SaldoAtual < 0 ? "#ff0000" : "#008000")" class="center">@Model.Resumo.TotSaldoAtual</td>
            </tr>
        </tfoot>
    </table>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large">
        <i class="large material-icons">add</i>
    </a>
    <ul>
        <li>
            <a href="javascript:void(0)" onclick="showModalCadastroEdicaoLancamento(null, 'R')"
               class="btn-floating green modal-trigger tooltipped" data-position="left" data-delay="25" data-tooltip="Receita">
                <i class="material-icons">tag_faces</i>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" onclick="showModalCadastroEdicaoLancamento(null, 'D')"
               class="btn-floating red modal-trigger tooltipped" data-position="left" data-delay="25" data-tooltip="Despesa">
                <i class="material-icons">mood_bad</i>
            </a>
        </li>
    </ul>
</div>

<script>

    $('.tooltipped').tooltip({ delay: 25 });

    var urlsLancamento = {
        Lancamento: '@Url.Action("Lancamento", "Lancamento")',
        GetModalCadastroEdicao: '@Url.Action("GetModalCadastroEdicao", "Lancamento")',
        Post: '@Url.Action("Post", "Lancamento")',
        Put: '@Url.Action("Put", "Lancamento")',
        Delete: '@Url.Action("Delete", "Lancamento")',
        PutIndicadorPagoRecebido: '@Url.Action("PutIndicadorPagoRecebido", "Lancamento")'
    };

    function showModalCadastroEdicaoLancamento(idLancamento, indicadorReceitaDespesa) {
        $.get(urlsLancamento.GetModalCadastroEdicao, {
            idLancamento: idLancamento,
            indicadorReceitaDespesa: indicadorReceitaDespesa
        }).success(function (data) {
            $("#containerPrincipal").append(data);
            $('#modalLancamentoCadastroEdicao').modal({
                complete: function () {
                    $('#modalLancamentoCadastroEdicao').remove();
                }
            });
            $("#modalLancamentoCadastroEdicao").modal("open");
            verifyLabelActive();
        });
    }

    function deleteLancamento(idLancamento) {
        showModalConfirm("Deseja realmente excluir este lançamento?", function () {
            $.post(urlsLancamento.Delete, {
                idLancamento: idLancamento
            }).success(function (data) {
                showToast(data, "green");
                atualizarLancamentos();
            });
        });
    }

    function atualizarLancamentos() {
        setTimeout(function () {
            $.get(urlsLancamento.Lancamento).success(function (data) {
                $("#containerPrincipal").html(data);
            });
        }, 100);

    }

    var isPagoRecebido, isVencido, isVincendo, isReceita;

    function alteraStatusLancamento(button, idLancamento) {

        var btn = $(button);

        isPagoRecebido = btn.hasClass("pago-recebido");
        isVencido = btn.hasClass("vencido");
        isVincendo = btn.hasClass("vincendo");
        isReceita = btn.hasClass("receita");

        desableLoading();
        $.post(urlsLancamento.PutIndicadorPagoRecebido, {
            Id: idLancamento,
            IndicadorPagoRecebido: (isPagoRecebido ? "N" : "S")
        }).success(function () {
            atualizarBotaoIndicadorPagoRecebido(btn);
        });
    }

    function atualizarBotaoIndicadorPagoRecebido(btn) {

        var vlrLancamento = btn.closest("tr").attr("data-valor").toDecimal();

        // variaveis de totais do resumo
        var totReceitaPrev = $("#tdReceitaPrev").text().toDecimal(),
            totReceitaRealiz = $("#tdReceitaRealiz").text().toDecimal(),
            totDespesaPrev = $("#tdDespesaPrev").text().toDecimal(),
            totDespesaRealiz = $("#tdDespesaRealiz").text().toDecimal(),
            totSaldoPrev = $("#tdSaldoPrev").text().toDecimal(),
            totSaldoAtual = $("#tdSaldoAtual").text().toDecimal();


        if (isPagoRecebido) {
            btn.removeClass("pago-recebido");

            if (isReceita) {
                // atualizando receitas (prevista e atual)
                $("#tdReceitaRealiz").text((totReceitaRealiz - vlrLancamento).toMoney());
            } else {
                // atualizando despesas (prevista e atual)
                $("#tdDespesaRealiz").text((totDespesaRealiz - vlrLancamento).toMoney());
            }

            if (!isReceita)
                vlrLancamento = vlrLancamento * -1;

            // colocando cor no saldo (vermelho para negativo e verde para positivo)
            $("#tdSaldoAtual").css({ "color": ((totSaldoAtual - vlrLancamento) < 0 ? "#ff0000" : "#008000") });


            // atualizando saldos (previsto e atual)
            $("#tdSaldoAtual").text((totSaldoAtual - vlrLancamento).toMoney());


            // atualizando icone do botão e mensagem do tooltip
            if (!isVencido) {
                btn.addClass("vincendo");
                btn.attr("data-tooltip", "Não " + (isReceita ? "Recebido" : "Pago")).tooltip();
            } else {
                btn.find("i").text("thumb_down");
                btn.attr("data-tooltip", "Atrasado").tooltip();
            }

            return;
        }

        // caso NÃO esteje Pago/Recebido

        if (isReceita) {
            // atualizando receitas (prevista e atual)
            $("#tdReceitaRealiz").text((totReceitaRealiz + vlrLancamento).toMoney());
        } else {
            // atualizando despesas (prevista e atual)
            $("#tdDespesaRealiz").text((totDespesaRealiz + vlrLancamento).toMoney());
        }

        if (!isReceita)
            vlrLancamento = vlrLancamento * -1;

        // colocando cor no saldo (vermelho para negativo e verde para positivo)
        $("#tdSaldoAtual").css({ "color": ((totSaldoAtual + vlrLancamento) < 0 ? "#ff0000" : "#008000") });

        // atualizando saldos (previsto e atual)
        $("#tdSaldoAtual").text((totSaldoAtual + vlrLancamento).toMoney());

        if (isVincendo) {
            btn.addClass("pago-recebido");
            btn.attr("data-tooltip", (isReceita ? "Recebido" : "Pago")).tooltip();
            return;
        }

        if (isVencido) {
            btn.addClass("pago-recebido");
            btn.find("i").text("thumb_up");
            btn.attr("data-tooltip", (isReceita ? "Recebido" : "Pago")).tooltip();
            return;
        }
    }

</script>
