@{ Layout = null; }


<div id="modalContaConjunta" class="modal" style="max-height: 90% !important; height: 80% !important; width: 70% !important">
    <input type="hidden" id="hdnIdConta" value="@ViewBag.IdConta" />
    <div class="modal-content">
        <div class="section" style="text-align: center">
            <h1 style="color: gray; font-size: 20pt;" class="caption">Compartilhamento de Conta</h1>
            <div class="divider"></div>
        </div>
        <div class="row" id="divTableUsuariosContaConjunta">
            
        </div>
    </div>
    @if (ViewBag.IndicadorProprietarioConta == "S")
    {
        <div class="modal-footer" style="margin-left: 10px !important; width: 97% !important">
            <div class="row">
                <div class="input-field col s11">
                    <input id="txtEmailUsuarioContaConjunta" type="email" maxlength="150">
                    <label for="txtEmailUsuarioContaConjunta">Digite um e-mail abaixo para convidar um usuário a participar desta conta </label>
                </div>
                <div class="input-field col s1">
                    <a href="javascript:void(0)" id="btnEnviaConviteContaConjunta" onclick="enviarConviteContaConjunta()" class="btn-floating tooltipped left"
                       data-position="top" data-delay="25" data-tooltip="Enviar convite para compartilhar conta">
                        <i class="material-icons">send</i>
                    </a>
                </div>
            </div>
        </div>
    }
    else
    {
        <div id="divRadiosCompromisso" class="modal-footer" >
            <div class="row" style="background-color: lavender; text-align: center;">

                <div class="col s12">
                    <p>
                        Somente o proprietário desta conta pode excluir ou cadastrar novos usuários,
                        porém você pode visualizar todos os usuários que estão sendo compartilhados
                    </p>
                </div>
            </div>
        </div>
    }

</div>


<script type="text/javascript">

    $('select').material_select();
    $('#btnEnviaConviteContaConjunta').tooltip({ delay: 25 });

    var urlContaConjunta = {
        getGridUsuarios: '@Url.Action("GetGridUsuarios", "ContaConjunta")',
        post: '@Url.Action("Post", "ContaConjunta")',
        deletar: '@Url.Action("Delete", "ContaConjunta")'
    }

    var indicadorProprietarioConta = '@ViewBag.IndicadorProprietarioConta';

    var atualizaGridUsuarios = (function fn() {

        $.get(urlContaConjunta.getGridUsuarios, {
            idConta: $("#hdnIdConta").val(),
            indicadorProprietarioConta: indicadorProprietarioConta
        }).success(function(data) {
            $("#divTableUsuariosContaConjunta").html(data);
        });
        return fn;

    })();

    function enviarConviteContaConjunta() {
        $('.toast').remove();

        isFieldEmpty($("#txtEmailUsuarioContaConjunta"));

        if ($('.toast').length)
            return false;

        $.post(urlContaConjunta.post, {
            IdConta: $("#hdnIdConta").val(),
            EmailUsuarioConvidado: $("#txtEmailUsuarioContaConjunta").val()
        }).success(function(message) {
            //$.toast({ message: message, type: "success" });
            //$("#txtEmailUsuarioContaConjunta").val("");

            //$(function () {
            //    var idUsuario = $("#containerPrincipal").attr("data-id-usuario");
            //    var chat = $.connection.chat;

            //    chat.client.atualizaNotificacoes = function () {
            //        $("#linkEmail").text("Vai la hub");
            //        alert("Voltou do hub");
            //        //console.log(idsUsuario);
            //        //if (idsUsuario.some(function (item) { return item == idUsuario })) {
            //        //    alert("Usuario encontrado");
            //        //    atualizaTotalNotificacaoNaoLida();
            //        //}
            //    };

            //    $.connection.hub.start().done(function() {
            //        $.connection.hub.start();
            //        chat.server.atualizarNotificacoes();
            //    });
            //});

            $("#btnHiddenAtualizaTotalNotificacoes").trigger("click");

            atualizaGridUsuarios();
        });

        return true;
    }

</script>
