@using ConFin.Common.Web.Extension



<div style="z-index: 100; background-color: #00BFFF" class="navbar-fixed">
    <nav style="background-color: #00BFFF">
        <div class="nav-wrapper">
            <ul class="right hide-on-med-and-down">
                <input type="hidden" id="btnHiddenAtualizaTotalNotificacoes" />
                <li class="darkBackground notificacao" onclick="exibeNotificacoes('N')">
                    <a class="fa fa-globe notificacao">
                        <div id="divSpansNotificacao" style="display: none">
                            <span class="fa fa-comment"></span>
                            <span class="num" id="spanTotNotificacaoNaoLida">0</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a id="linkEmail" class="dropdown-button" href="javascript:void(0)" data-activates="comboOpcoesUsuario">
                        @ViewBag.Email
                        <i class="material-icons right">account_circle</i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<ul id="ulNotificacao" class="collection" style="display: none; width: 37%; position: absolute; right: 0; z-index: 1000; max-height: 80%; overflow-y: auto">
    <li id="liEmptyNotificacaoNaoLida" class="collection-item avatar" style="display: none">
        <i class="material-icons">tag_faces</i>
        <span class="title">Uau!</span>
        <p>Nenhuma notificação não lida</p>
        <a href="javascript:void(0)" onclick="exibeNotificacoes('S')" class="secondary-content">Exibir lidas</a>
    </li>
    <li id="liEmptyNotificacaoLida" class="collection-item avatar" style="display: none">
        <i class="material-icons">tag_faces</i>
        <span class="title">Uau!</span>
        <p>Você não possui nenhuma notificação</p>
    </li>
</ul>

<ul id="comboOpcoesUsuario" class="dropdown-content">
    <li><a href="javascript:void(0)" onclick="showModalUsuario()"><i class="material-icons">build</i>Perfil</a></li>
    <li class="divider"></li>
    <li><a href="@Url.AbsoluteAction("Home", "Logout")"><i class="material-icons">exit_to_app</i>Sair</a></li>
</ul>

<a href="javascript:void(0)" style="position: fixed; z-index: 101; top: 16px; left: 16px; color: #eeeeee" data-activates="menuLateral"
   class="button-collapse tooltipped" data-position="right" data-delay="25" data-tooltip="Menu">
    <i class="small material-icons">menu</i>
</a>

<script src="~/signalr/hubs" type="text/javascript"></script>

<script>
    
    $(function () {
        var notificacaoHub = $.connection.notificacaoHub;
        notificacaoHub.client.atualizaNotificacoes = function () {
            atualizaTotalNotificacaoNaoLida();
        };

        $.connection.hub.start().done(function () {
            $.connection.hub.start();
            $("#btnHiddenAtualizaTotalNotificacoes").click(function (e) {
                notificacaoHub.server.atualizarNotificacoes();
            });
        });

    });

    var urlModalUsuario = '@Url.Action("ModalDadosUsuario", "Usuario")';
    var urlGetNotificacao = '@Url.Action("Get", "Notificacao")';
    var urlGetTotalNaoLidas = '@Url.Action("GetTotalNaoLidas", "Notificacao")';

    function showModalUsuario() {

        $.get(urlModalUsuario).success(function(data) {
            $("#containerPrincipal").append(data);
            $('#modalDadosUsuario').modal({
                complete: function() {
                    $('#modalDadosUsuario').remove();
                    removeToastsError();
                }
            });
            $("#modalDadosUsuario").modal("open");
            verifyLabelActive();
        });
    }

    var atualizaTotalNotificacaoNaoLida = (function fnc() {
        desableLoading();
        $.get(urlGetTotalNaoLidas).success(function (total) {

            if (parseInt(total) > 0) {
                $("#spanTotNotificacaoNaoLida").text(total);
                $("#divSpansNotificacao").fadeIn();
            }
        });

        return fnc;
    })();

    function exibeNotificacoes(indicadorLida) {

        $("#ulNotificacao li.collection-item:not(#liEmptyNotificacaoNaoLida, #liEmptyNotificacaoLida)").remove();

        if (indicadorLida == "N") {
            var notificacoesIsVisible = $("#ulNotificacao").is(":visible");

            $("#ulNotificacao").slideToggle();
            $("#divSpansNotificacao").fadeOut("slow");

            if (notificacoesIsVisible)
                return false;
        }

        desableLoading();

        $.get(urlGetNotificacao, {
            indicadorNotificacaoLida: indicadorLida
        }).success(function (notificacoes) {

            $("#liEmptyNotificacaoNaoLida, #liEmptyNotificacaoLida").hide();

            // independente se a pesquisa for por notificações lidas ou não lidas (caso não tenha registros algum)
            if (notificacoes.noContent) {
                $("#liEmptyNotificacaoLida").show();
                return false;
            }

            if (!notificacoes.length) {

                if (indicadorLida == "S") {
                    $("#liEmptyNotificacaoLida").show();
                } else {
                    $("#liEmptyNotificacaoNaoLida").show();
                }

                return false;
            }

            console.log(notificacoes);

            notificacoes.forEach(function (item) {

                var itemNotificacao =
                    "<li class='collection-item avatar'>"
                        + "<img src='/Home/Content/Imagens/user.png' alt='usuário' class='circle'>"
                        + "<span class='title' style='color:darkblue'>" + item.NomeUsuarioEnvio + "</span>"
                        + "<p>" + item.Mensagem + " <br> <span style='color:gray'>" + item.DataCadastro + "</span></p>"
                        + "<a title='Exibir' href='javascript:void(0)' onclick=\"redirectUrlNotificacao('" + item.Url + "', '" + item.UrlIsDefinida + "')\" class='secondary-content'>"
                        + "<i class='material-icons scale'>call_made</i></a>"
                        + "</li>";

                $("#ulNotificacao").append(itemNotificacao);
            });
        });

    }

    function redirectUrlNotificacao(url, urlIsDefinida) {

        $('.toast').remove();

        if (urlIsDefinida == "N") {
            $.toast({ message: "Link não definido" });
            return false;
        } 

        $.get(decodeURIComponent(url)).success(function (data) {
            $("#containerPrincipal").html(data);
            $("#ulNotificacao").slideUp();
        });
       
    }

</script>
