<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ConFin - Controle Financeiro Pessonal</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="~/css/nouislider.min.css" />
    <link type="text/css" rel="stylesheet" href="~/css/jquery-ui.min.css" />
    <link type="text/css" rel="stylesheet" href="~/css/jquery-ui.theme.css" />
    <link type="text/css" rel="stylesheet" href="~/css/jquery-ui.structure.css"/>
    <link type="text/css" rel="stylesheet" href="~/css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="~/css/common.css" />

    <script type="text/javascript" src="~/js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.mask.min.js"></script>
    <script type="text/javascript" src="~/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/js/nouislider.min.js"></script>
    <script type="text/javascript" src="~/js/wNumb.js"></script>
    <script type="text/javascript" src="~/js/malsup-form.js"></script>
    <script type="text/javascript" src="~/js/materialize.min.js"></script>
    <script type="text/javascript" src="~/js/common.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.signalR-2.2.2.js"></script>

    <script>
        $(document).ready(function () {
            $('.date').mask('00/00/0000', { placeholder: "__/__/____" });
            $('.month-year').mask('00/0000', { placeholder: "__/____" });
            $('.money').mask("#.##0,00", { reverse: true });
            $('.money2').mask('000.000.000.000.000,00', { reverse: true });
            $('.selectonfocus').mask("00/00/0000", { selectOnFocus: true });
        });

        // função para esconder as notificações
        $(document).on("click", function (e) {
            if (!$(e.target).hasClass("notificacao") && !$(e.target).closest("#ulNotificacao").length)
                $("#ulNotificacao").slideUp();
        });

        $(document).on("focus", ".date", function (e) {
            $("#" + $(e.target).attr('id')).datepicker({
                dateFormat: 'dd/mm/yy',
                dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                nextText: 'Próximo',
                prevText: 'Anterior'
            });
        });
    </script>

    <style>
        .footer {
            position: fixed !important;
            bottom: 0 !important;
            width: 100% !important;
            z-index: 2;
            background-color: #00BFFF;
        }
        .page-footer {
            padding-top: 8px !important;
        }
    </style>
</head>
<body>

    @Html.Partial("_Cabecalho")
    @Html.Partial("_MenuLateral")

    <footer class="footer page-footer">
        <div id="divResumoSaldo" class="container" style="display: none">
            <div class="row">
                <div class="col l3 s12">
                    <h5 class="white-text">Resumo Financeiro</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3">Previsto</a></li>
                        <li><a class="grey-text text-lighten-3">Realizado</a></li>
                    </ul>
                </div>
                <div class="col l2 offset-l2 s12">
                    <h5 class="white-text">Despesas</h5>
                    <ul>
                        <li id="liDespesaPrev">-</li>
                        <li id="liDespesaRealiz">-</li>
                    </ul>
                </div>
                <div class="col l2 offset-l2 s12">
                    <h5 class="white-text">Receitas</h5>
                    <ul>
                        <li id="liReceitaPrev">-</li>
                        <li id="liReceitaRealiz">-</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col s2 center-align">
                        <p style="margin-top: 0!important;" class="grey-text text-lighten-4 ">Saldo Anterior: (R$)</p>
                        <p style="font-size: 25pt; margin: -25px"><span id="spanSaldoAnterior">-</span></p>
                    </div>
                    <div id="divSaldoAtual" class="col s8 center-align">
                        <p style="margin-top: 0!important;" class="grey-text text-lighten-4 ">Saldo Atual: (R$)</p>
                        <p style="font-size: 25pt; margin: -25px"><span id="spanSaldoAtual">-</span></p>
                    </div>
                    <div class="col s2 center-align">
                        <p style="margin-top: 0!important;" class="grey-text text-lighten-4 ">Saldo Previsto: (R$)</p>
                        <p style="font-size: 25pt; margin: -25px"><span id="spanSaldoPrev">-</span></p>
                    </div>
                    
                    <a id="linkResumoFinanceiro" style="position: absolute; bottom: 30px; right: 20px;" href="javascript:void(0)"
                       onclick="slideToggleResumoSaldo(this)" class="tooltipped up grey-text text-lighten-4"
                       data-position="top" data-delay="25" data-tooltip="Exibir Resumo Financeiro">
                        <i class="material-icons">keyboard_arrow_up</i>
                    </a>

                </div>
            </div>
        </div>
    </footer>

    @*      Ajudas do sistema       *@

    <div id="targetNotificacao" class="tap-target" data-activates="linkNotificacao">
        <div class="tap-target-content" style="text-align: center">
            <h5>Notificações</h5>
            <p>Constantemente você receberá notificações, para visualizá-las é só clicar neste icone.</p>
            <a class="waves-effect waves-light" href="javascript:void(0)" onclick="nextHelp('targetNotificacao', 'targetMenu')">Próxima dica <i class="material-icons">navigate_next</i></a>
        </div>
    </div>

    <div id="targetMenu" class="tap-target" data-activates="linkMenu">
        <div class="tap-target-content">
            <h5>Menu</h5>
            <p>Conheça o ConFin explorando as opções de menu do sistema.</p>
            <a class="waves-effect waves-light" href="javascript:void(0)" onclick="nextHelp('targetMenu', 'targetResumoFinanceiro')">Próxima dica <i class="material-icons">navigate_next</i></a>
        </div>
    </div>

    <div id="targetResumoFinanceiro" class="tap-target" data-activates="linkResumoFinanceiro">
        <div class="tap-target-content" style="text-align: right">
            <h5>Resumo Financeiro</h5>
            <p>Clicando nesta opção você poderá visualizar o seu resumo financeiro detalhadamente.</p>
            <a class="waves-effect waves-light" href="javascript:void(0)" onclick="nextHelp('targetResumoFinanceiro', 'targetLinkEmail')">Próxima dica <i class="material-icons">navigate_next</i></a>
        </div>
    </div>

    <div id="targetLinkEmail" class="tap-target" data-activates="linkEmail">
        <div class="tap-target-content">
            <h5>Perfil / Logoff</h5>
            <p>Nesta opção você pode editar os dados do seu perfil ou encerrar sua sessão</p>
            <a class="waves-effect waves-light" href="javascript:void(0)" onclick="nextHelp('targetLinkEmail', 'targetSpanSaldoAtual')">Próxima dica <i class="material-icons">navigate_next</i></a>
        </div>
    </div>

    <div id="targetSpanSaldoAtual" class="tap-target" data-activates="spanSaldoAtual">
        <div class="tap-target-content">
            <h5>Saldo Atual</h5>
            <p>Este é o seu saldo atual, durante todo seu acesso ele estará disponível para visualização em qualquer tela.</p>
            <a class="waves-effect waves-light" href="javascript:void(0)" onclick="nextHelp('targetSpanSaldoAtual', 'targetSpanSaldoAnterior')">Próxima dica <i class="material-icons">navigate_next</i></a>
        </div>
    </div>

    <div id="targetSpanSaldoAnterior" class="tap-target" data-activates="spanSaldoAnterior">
        <div class="tap-target-content">
            <h5>Saldo Anterior</h5>
            <p>Este é o saldo anterior ao mês atual, ele também ficara visível durante todo seu acesso ao sistema.</p>
            <a class="waves-effect waves-light" href="javascript:void(0)" onclick="nextHelp('targetSpanSaldoAnterior', 'targetSpanSaldoPrev')">Próxima dica <i class="material-icons">navigate_next</i></a>
        </div>
    </div>

    <div id="targetSpanSaldoPrev" class="tap-target" data-activates="spanSaldoPrev">
        <div class="tap-target-content">
            <h5>Saldo Previsto</h5>
            <p>Aqui você pode conferir seu saldo previsto para o final do mês atual.</p>
            <a class="waves-effect waves-light" href="javascript:void(0)" onclick="nextHelp('targetSpanSaldoPrev')">Repetir dicas <i class="material-icons">navigate_next</i></a>
        </div>
    </div>

    <div data-id-usuario="@ViewBag.Id" class="container" id="containerPrincipal">
        @RenderBody()
    </div>

</body>
</html>

<script>

    var primeiroAcesso = '@ViewBag.PrimeiroAcesso';

    if (primeiroAcesso == "S")
        $("#targetNotificacao").tapTarget('open');

    function slideToggleResumoSaldo(button) {
        if ($(button).hasClass("up")) {
            $(button).removeClass("up");
            $(button).attr("data-tooltip", "Ocultar Resumo Financeiro").tooltip();
            $(button).find("i").text("keyboard_arrow_down");

            $("#divResumoSaldo").slideDown();
        } else {
            $(button).addClass("up");
            $(button).attr("data-tooltip", "Exibir Resumo Financeiro").tooltip();
            $(button).find("i").text("keyboard_arrow_up");
            $("#divResumoSaldo").slideUp();
        }
    }

    function nextHelp(idAtual, idProximo) {

        if (idProximo == undefined)
            nextHelp(idAtual, "targetNotificacao");

        $("#" + idAtual).tapTarget('close');
        $("#" + idProximo).tapTarget('open');
    }

    $(".button-collapse").sideNav();
    $('.tooltipped').tooltip({ delay: 25 });
    $('.modal').modal();
    $('select').material_select();

</script>