@model IEnumerable<ConFin.Web.ViewModel.UsuarioContaConjuntaViewModel>
@{ Layout = null; }


<div id="modalContaConjunta" class="modal" style="max-height: 90% !important; min-height: 60% !important">
    <input type="hidden" id="hdnIdConta" value="@ViewBag.IdConta"/>
    <div class="modal-content">
        <div class="section" style="text-align: center">
            <h1 style="color: gray; font-size: 20pt;" class="caption">Compartilhamento de Conta</h1>
            <div class="divider"></div>
        </div>
        <div class="row">
            <table class="striped" id="tableUsuariosContaConjunta">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Desde de</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.NomeUsuarioConvidado</td>
                                <td>@item.EmailUsuarioConvidado</td>
                                <td>@item.DataAnalise</td>
                                <td class="center-align">
                                    <a title="Desvíncular usuário" style="color: crimson" href="javascript:void(0)" onclick="removerUsuarioContaConjunta()">
                                        <i class="material-icons">delete_forever</i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr><td style="text-align: center" colspan="4">Nenhum registro encontrado.</td></tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer" style="margin-left:10px !important; width: 97% !important">
        <div class="row">
            <div class="input-field col s11">
                <input id="txtEmailUsuarioContaConjunta" type="email" maxlength="150">
                <label for="txtEmailUsuarioContaConjunta">Digite um e-mail abaixo para convidar um usuário a participar desta conta </label>
            </div>
            <div class="input-field col s1">
                <a href="javascript:void(0)" id="btnEnviaConviteContaConjunta" onclick="enviarConviteContaConjunta()" class="btn-floating tooltipped left"
                   data-position="top" data-delay="25" data-tooltip="Enviar convite para compartilhar conta">
                    <i class="material-icons">send</i>
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    $('select').material_select();
    $('#btnEnviaConviteContaConjunta').tooltip({ delay: 25 });

    var urlContaConjunta = {
        EnviarConvite: '@Url.Action("PostConviteContaConjunta", "ContaFinanceira")'
    }

    function removerUsuarioContaConjunta() {
        alert("TODO");
    }

    function enviarConviteContaConjunta() {
        $('.toast').remove();

        isFieldEmpty($("#txtEmailUsuarioContaConjunta"));

        if ($('.toast').length)
            return false;

        $.get(urlContaConjunta.EnviarConvite, {
            idConta: $("#hdnIdConta").val(),
            emailUsuarioConvidado: $("#txtEmailUsuarioContaConjunta").val()
        }).success(function (message) {
            $.toast({ message: message, type: "success" });
        });

    }

</script>