@model IEnumerable<ConFin.Web.ViewModel.ContaFinanceiraViewModel>
@{ Layout = null;}

<div class="container">
    <div class="section" style="text-align: center">
        <h1 style="color: gray; font-size: 20pt;" class="caption">Contas Financeira</h1>
        <div class="divider"></div>
    </div>

    <table class="striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Tipo</th>
                <th>Saldo (R$)</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var conta in Model)
                {
                    <tr>
                        <td>@conta.Nome</td>
                        <td>@conta.NomeTipo</td>
                        <td>TODO</td>
                        <td class="center-align">
                            <a title="Excluir conta" style="color: crimson" href="javascript:void(0)" onclick="deleteConta(@conta.Id)">
                                <i class="material-icons">delete_forever</i>
                            </a>
                            <a title="Editar conta" style="color: dimgray" href="javascript:void(0)" onclick="showModalCadastroEdicao(@conta.Id)">
                                <i class="material-icons">mode_edit</i>
                            </a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr><td style="text-align: center" colspan="4">Nenhum registro encontrado.</td></tr>
            }

        </tbody>
    </table>
</div>



<div class="fixed-action-btn horizontal click-to-toggle">
    <a href="javascript:void(0)" onclick="showModalCadastroEdicao()" class="waves-effect waves-light modal-trigger btn-floating btn-large">
        <i class="material-icons">add</i>
    </a>
</div>

<script>

    var urlsConta = {
        ContaFinanceira: '@Url.Action("ContaFinanceira", "ContaFinanceira")',
        GetModalCadastroEdicao: '@Url.Action("GetModalCadastroEdicao", "ContaFinanceira")',
        Post: '@Url.Action("Post", "ContaFinanceira")',
        Put: '@Url.Action("Put", "ContaFinanceira")',
        Delete: '@Url.Action("Delete", "ContaFinanceira")'
    };

    function showModalCadastroEdicao(idConta) {
        $.get(urlsConta.GetModalCadastroEdicao, {
            idConta: idConta
        }).success(function (data) {
            $("#containerPrincipal").append(data);
            $('#modalContaCadastroEdicao').modal({complete: function() {
                $('#modalContaCadastroEdicao').remove();
            }});
            $("#modalContaCadastroEdicao").modal("open");
            verifyLabelActive();
        });
    }

    function deleteConta(idConta) {
        showModalConfirm("Deseja realmente excluir esta conta?", function() {
            $.post(urlsConta.Delete, {
                idConta: idConta
            }).success(function (message) {
                $.toast({ message: message, type: "success" });
                atualizarContas();
            });
        });
    }

    function atualizarContas() {
        setTimeout(function() {
            $.get(urlsConta.ContaFinanceira).success(function (data) {
                $("#containerPrincipal").html(data);
            });
        }, 100);
    }

</script>
