@model IEnumerable<ConFin.Web.ViewModel.ContaConjuntaSolicitacaoViewModel>
@{ Layout = null; }



<div class="container">
    <div class="section" style="text-align: center">
        <h1 style="color: gray; font-size: 20pt;" class="caption">Convites Conta Conjunta</h1>
        <div class="divider"></div>
    </div>

    <table class="striped" id="tabelaSolicitacoesContaConjunta">
        <thead>
        <tr>
            <th>Data</th>
            <th>Enviado por</th>
            <th>Compartilhar a Conta</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        @if (Model != null && Model.Any(x => x.IndicadorEnviadoConvidado == "C"))
        {
            foreach (var solicitacao in Model.Where(x => x.IndicadorEnviadoConvidado == "C").Where(x => x.DataAnalise == null))
            {
                <tr>
                    <td>@solicitacao.DataCadastro</td>
                    <td>@solicitacao.NomeUsuarioEnvio</td>
                    <td>@solicitacao.NomeConta</td>
                    <td class="center-align">
                        <a title="Aceitar" style="color: limegreen" href="javascript:void(0)" onclick="putConviteContaConjunta(@solicitacao.Id, 'A')">
                            <i class="material-icons">thumb_up</i>
                        </a>
                        <a title="Rejeitar" style="color: red" href="javascript:void(0)" onclick="putConviteContaConjunta(@solicitacao.Id, 'R')">
                            <i class="material-icons">thumb_down</i>
                        </a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr><td style="text-align: center" colspan="4">Nenhum registro encontrado.</td></tr>
        }

        </tbody>
    </table>
</div>

<script>

    var urlsConviteContaConjunta = {
        put: '@Url.Action("PutConviteContaConjunta", "ContaFinanceira")',
        get: '@Url.Action("GetConviteContaConjunta", "ContaFinanceira")'

    };

    function putConviteContaConjunta(idSolicitacao, indicadorAprovado) {

        showModalConfirm("Deseja realmente compartilhar a utilização da conta?", function() {
            $.get(urlsConviteContaConjunta.put, {
                idSolicitacao: idSolicitacao,
                indicadorAprovado: indicadorAprovado
            }).success(function (message) {
                $.toast({ message: message, type: "success" });
                atualizarConvitesContaConjunta();
            });
        });
        

    }

    function atualizarConvitesContaConjunta() {
        $.get(urlsConviteContaConjunta.get).success(function (data) {
            $("#containerPrincipal").html(data);
        });
    }

</script>